__pycache__/
*.py[cod]
*$py.class

env/
venv/
.venv/
ENV/
build/
dist/
*.egg-info/

*.tif
*.tiff
*.png
*.jpg
*.jpeg
*.pdf
*.txt
ocr_output/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

!Tessereact/
